
<section class="row">
  <h1>About this project</h1>

  <p>
    Ce projet à été fait dans le cadre du cours "i-communication" de la première année en filière "Internet et communication" de l'école d'ingénieur de Fribourg HEIA.
  </p>

  <p>
    Le but était de prendres en main les diffèrentes technologies webs, tel que: HTML, CSS, JS, PHP ...
  </p>

  <p>
    Le contexte était de créer un application de gestion de tâches multi-utilisateurs, qui pourrait servir en entreprise pour la gestion de projets IT.
  </p>
</section>
