<div class="cv">

  		<section id="pres" class="row">
  			<h1>Damien Morattel</h1>
  			<img src="assets/img/me.jpg" alt="portrait Damien Morattel" title="Damien Morattel" id="pic"/>
  			<table id="tpres">
  			<tr>
  			<td class="bold">Nationalité</td>
  			<td>Suisse</td>
  			<td class="bold">Portable</td>
  			<td>078 868 36 38</td>
  			</tr>
  			<tr>
  			<td class="bold">Naissance</td>
  			<td>11 mars 1995</td>
  			<td class="bold">E-Mail</td>
  			<td>morattel.damien@gmail.com</td>
  			</tr>
  			<tr>
  			<td class="bold">État civil</td>
  			<td>Célibataire</td>
  			<td class="bold">Domicile</td>
  			<td>Ch. des Rochettes 39</td>
  			</tr>
  			<tr>
  			<td class="bold">Voiture</td>
  			<td>Oui</td>
        <td></td>
  			<td>1618 Châtel-St-Denis</td>
  			</tr>
  			</table>
        <br/>
        <p id="emp">Actuellement étudiant à la Haute école d’ingénierie et d’architecture de Fribourg, en filière télécommunication. En recherche de poste à temps partiel dans les domaines IT : système, support ou développement.</p>
  		</section>

  		<section id="school" class="row">
  			<h1>Education</h1>
        <table>
  				<tr class="bold">
  					<td class="nowrap">Bachelor of Science</td>
  					<td>Haute école d’ingénierie et d’architecture Fribourg</td>
  					<td class="nowrap">2015 - 2018</td>
  				</tr>
  				<tr>
  					<td class="nowrap bold">HES-SO Télécommunication</td>
  					<td>Filière Internet et communication (obtention prévue 2018)</td>
  				</tr>

          <tr><td></td></tr><tr><td></td></tr>

  				<tr class="bold">
  					<td class="nowrap">Informaticien CFC</td>
  					<td>École des Métiers technique et art Fribourg</td>
  					<td class="nowrap">2011 - 2015</td>
  				</tr>
  				<tr>
  					<td></td>
  					<td>Projet de CFC « Audit de sécurité de systèmes » (Kali Linux)</td>
  				</tr>
          <tr>
  					<td></td>
  					<td>Infrastructure de déploiement réseau de Windows to go (PXE, MDT)</td>
  				</tr>

          <tr><td></td></tr><tr><td></td></tr>

          <tr class="bold">
  					<td class="nowrap">Maturité technique</td>
  					<td>École des Métiers technique et art Fribourg</td>
  					<td class="nowrap">2011 - 2014</td>
  				</tr>
  				<tr>
  					<td></td>
  					<td>Projet de maturité : "Les vacances des étudiants influencent-elles le commerce alimentaire du plateau de Pérolles ?"</td>
  				</tr>

          <tr><td></td></tr><tr><td></td></tr>

          <tr class="bold">
            <td class="nowrap">Scolarité obligatoire</td>
            <td>Cycle d’orientation de la Veveyse, Châtel-St-Denis</td>
            <td class="nowrap">2008 - 2011</td>
          </tr>
          <tr>
            <td></td>
            <td>Classe prégymnasiale</td>
          </tr>
  			</table>
  		</section>

  		<section id="work" class="row">
  			<h1>Experiences</h1>
        <table>
  				<tr class="bold">
  					<td class="nowrap">Support Informatique</td>
  					<td>DamiTech à Fribourg</td>
  					<td class="nowrap">2016</td>
  				</tr>
  				<tr>
  					<td></td>
  					<td>Support informatique, cours et développement web pour clients privés</td>
  				</tr>
          <tr><td></td></tr><tr><td></td></tr>
  				<tr class="bold">
  					<td class="nowrap">Développeur web</td>
  					<td>Stage de 5 mois chez Infoteam à Givisiez</td>
  					<td class="nowrap">2014</td>
  				</tr>
  				<tr>
  					<td></td>
  					<td>Reprise du projet web « EcoView » en ASP.NET (C#, HTML5, JS)</td>
  				</tr>
  			</table>
  		</section>

      <section id="langs" class="row">
        <h1>Connaissance des langues</h1>
        <table>
          <tr>
            <td class="bold">Français</td>
            <td>Langue maternelle</td>
          </tr>
          <tr>
            <td class="bold">Anglais</td>
            <td>Niveau B2, facilité en lecture/compréhension C1</td>
          </tr>
          <tr>
            <td class="bold">Allemand</td>
            <td>Compétences professionnelles limitées B1</td>
          </tr>
        </table>
      </section>

  		<section id="ints" class="row">
  			<h1>Centres d’intérêts</h1>
        <table>
          <tr>
            <td class="bold">Escalade</td>
            <td>Pratique de l’escalade de type bloc depuis 2014</td>
          </tr>
          <tr>
            <td class="bold">Karaté</td>
            <td>Membre du club Kodenkai à Châtel-St-Denis durant 10 ans</td>
          </tr>
          <tr>
            <td class="bold">Autre</td>
            <td>Développement personnel, médiation, cinéma</td>
          </tr>
        </table>
  		</section>
</div>
