

.cv section{
	margin: 50px auto;
	padding: 20px 40px 20px 40px;
	background-color: white;
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}

.cv td{
  padding-right: 10px;
  padding-bottom: 5px;
}

.cv tr{
  background-color: white!important;
}

.cv table{
  width: 100%;
	margin: 0 auto;
}

.cv .bold{
 font-weight: bold;;
}

.cv .nowrap{
  white-space: nowrap;
}


.cv #tpres{
  width: auto;
}

.cv #emp{
  text-align: center;
  font-weight: bolder;
  font-style: italic;
  color: grey;
}

.cv #pres td{
  padding-right: 30px;
}

.cv #pic{
  width: 10em;
	display:block;
	margin: 30px auto;
	border-radius: 50%;
	border: 5px solid #2E2E2E;
}
