.off-canvas{
  background: #424242;
  top: 56px !important;
  bottom: 30px !important;
  position: fixed;
  height: initial;
  color: white;
}

.off-canvas ul{
      text-align: center;
}

.sbtitle{

  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;

}

.sb-filter , .sb-sort, .sb-status{
  text-decoration: none;
  color: white;
  margin-bottom: 0;
  text-align: center;
  display: block;
}

.sb-filter i , .sb-sort i{
  display: none !important;
}

.sb-filter i.show , .sb-sort i.show{
  display: inline-block !important;
}

.sb-filter:hover , .sb-sort:hover, , .sb-status:hover{
  background-color: grey;
  color: white;
}

.sb-filter.selected , .sb-sort.selected, .sb-status.selected{
  background-color: rgb(40,40,40);
}

.sb-links-bottom{
  position: absolute;
  bottom: 20px;
  text-decoration: none;
  text-align: center;
  width: 100%;
}

.sb-link-bottom{
  color: white;
}
.sb-link-bottom:hover{
  color: grey;
}
