ul {
  margin-left: 0;
}

.main {
  background: rgba(211, 211, 211, 0.3);
  position: fixed;
  width: 100%;
  max-width: 100%;
  top: 56px;
  bottom: 32px;
  overflow-y: auto;
}

.list {
  list-style-type: none;
  width: 100%;
  max-width: 100%;
  display: block;
  line-height: 2em;
  padding: 1em 0;
}

.list .row{
  max-width: 85rem;
}

.linkedit {
    width: 100%;
    max-width: 100%;
    //display: flow-root;
    display: inline-block;
  }

.list li {
  display: table;
  width: 100%;
  padding-bottom: 10px;
  padding-top: 10px;
}

.list-task{
  display: block!important;
}

.list-task a {
  color: black;
  text-decoration: none;
}

.list-usr a {
  color: black;
  text-decoration: none;
}

.list-task.linkedit {
  display: block;
}

.list-task a div {
  width: 100%;
  display: table-row;
  text-align: center;
}



.list-task.done span {
  text-decoration: line-through;
  color: grey;
}

.list-task:hover {
  background-color: lightblue !important;
}

.list-usr:hover {
  background-color: lightblue !important;
}

.list-task:nth-child(even) {
  background-color: lightgray;
}


.list-usr:nth-child(even) {
  background-color: lightgray;
}

.list li:first-child {
  font-weight: bold;
  font-size: 20px;
}

.list span {
  padding: 0 10px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.icosm{
  font-size: 10px !important;
}

.list-usr{
  width: auto !important;
}

.list-usr-name{
//  width: 200px;
  font-weight: bold;
}

.list-task-id {
//  width: 80px;
  text-align: center;
}


.list-task-description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block!important;
  font-weight: bold;
  max-width: 100%;
}

.list-task-date {
  width: 180px;
}

.list-task-due {
  width: 180px;
}

.list-task-priority {
  width: 80px;
  text-align: center;
}

.list-task-creator {
  width: 180px;

}

.list-task-assignee {
  width: 180px;

}

.list-task-executor {
  width: 180px;

}

.list-task-status {
  display: inline-block !important;
  float: left;
  width: 7%;
  text-align: center;
  font-size: 20px;
  //vertical-align: top;
}

.list-task-delete {
  display: inline-block !important;
  float: right;
  width: 7%;
  text-align: center;
  font-size: 20px;
//  vertical-align: top;
}

.list-task-content{
  display: inline-block;
  width: 86%;
}

.form-edit {
  height: 100%;
  width: 100%;
  line-height: 2em;
  padding: 1em 0;
}

.form-edit-input {
  width: 100%;
}

.form-edit-input.submit {
  margin-top: 10px;
  height: 40px;
  background-color: grey;
  color: white;
  font-weight: bold;
  border: 0;
}

.form-edit ul {
  list-style-type: none;
}

.js-off-canvas-overlay {
  background: rgba(254, 254, 254, 0.5);
}

#btn-add {
  position: fixed;
  bottom: 90px;
  right: 50px;
  line-height: 65px;
  border-radius: 100%;
  color: white;
  background-color: green;
  text-decoration: none;
  text-align: center;
  width: 50px;
  height: 50px;
}


.list-usr-delete{
  font-size: 20px;
}

.list-usr-name{
  width: 200px;
}

.btn-back{
  margin: 10px;
  display: block;
  position: fixed;
}

.btn-back a{
  color: gray;
  margin: 30px;
  display: block;
}
